/* Animations and Transitions */

@keyframes colorChange {
    0% {
        background-color: red;
        color: white;
    }

    25% {
        background-color: orange;
        color: white;
    }

    50% {
        background-color: yellow;
        color: black;
    }

    75% {
        background-color: magenta;
        color: white;
    }

    100% {
        background-color: red;
        color: white;
    }
}

@keyframes textColorChange {
    0% {
        color: red;
    }

    25% {
        color: orange;
    }

    50% {
        color: yellow;
    }

    75% {
        color: magenta;
    }

    100% {
        color: red;
    }
}
