/* Blog Styles - Blog-specific Components */

.page-body .blog-list {
    margin-left: -1.5em;
    list-style-type: none;
}

.blog-post-preview {
    display: flex;
}

.blog-post-preview-text {
    display: inline;
    max-width: 50%;
    padding-bottom: 2%;
    border: 1em 1;
}

.blog-post-preview-image-container {
    max-width: 10em;
    min-width: 10em;
    min-height: 10em;
    padding-right: 2em;
}

.blog-post-title {
    text-decoration: none;
}

.blog-title {
    margin-bottom: -.5em;
    font-size: 2.5em;
    font-weight: 800;
}

.blog-date {
    color: #d9d5c5;
    font-style: italic;
    text-decoration: none;
    margin-top: -1em;
}

.blog-description {
    font-style: italic;
}

.page_number {
    padding-left: 30px;
    padding-right: 30px;
}

.footnotes {
    font-size: 0.75em;
}

/* Drop cap - first letter of first paragraph in blog posts */
.page-body > p:first-of-type::first-letter {
    font-size: 3.5em;
    font-weight: bold;
    line-height: 0.9;
    float: left;
    margin-right: 0.1em;
    margin-top: 0.05em;
    color: #b1a280;
}
