/* Component Styles - Reusable UI Components */

.nav-item {
    border: 2px solid black;
    box-shadow: 10px 4px 0px rgb(177, 162, 128);
    transition: box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    color: black;
    background-color: #f5ebd3;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.nav-item:hover {
    box-shadow: none;
    background-color: #102116;
    color: #f5ebd3;
    border: 2px solid #f5ebd3;
    animation: none;
}

.no-hover {
    box-shadow: none;
}

.no-hover:hover {
    animation: none;
    color: black;
}

.landing-section-heading {
    font-size: 2em;
}

.landing-section {
    margin-bottom: 4em;
}

.landing-card {
    border: 2px solid black;
    /* border-radius: 10px; */
    padding: .75em;
    width: 100%;
    background-color: #11261fc0;
    box-shadow: 10px 4px 0px rgb(177, 162, 128);
    color: #f5ebd3;
    font-size: 1.25em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: .5em;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.landing-card:hover {
    box-shadow: none;
}

.landing-card-subtitle {
    color: #cfc4ac;
    font-size: .75em;
    font-style: italic;
}

.tagline {
    font-style: none;
    font-size: 2em;
    text-align: center;
    margin: 3em 0;
}

.tagline-link {
    text-decoration: none;
}

a:hover {
    animation: textColorChange 2s infinite;
}

.text-stroke {
    text-shadow:
        -4px -4px 0 #f5ebd3,
        4px -4px 0 #f5ebd3,
        -4px 4px 0 #f5ebd3,
        4px 4px 0 #f5ebd3;
}

.link-list {
    text-align: center;
    margin-bottom: 4em;
}

.caption {
    font-size: .75em;
    font-style: italic;
    text-align: center;
}

.image-row {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.image-row .image-row-half {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.image-row .image-row-one-third {
    width: 33%;
    height: auto;
    object-fit: cover;
}

.image-row .image-row-two-thirds {
    width: 66%;
    height: auto;
    object-fit: cover;
}

.album-art {
    margin: auto;
    width: 65%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.media-container {
    width: 100%;
    display: flex;
    height: 450px;
}

.contact-heading {
    margin-top: 1.5em;
    text-align: center;
    font-style: italic;
}