/* Responsive Styles - Media Queries */

:root {
    --color-light-bg: #eaecf6;
    --color-light-text: #021174;
}

@media (min-width: 0px) {
    nav > a {
        font-size: 1em;
        padding-right: 4%;
    }
    
    .header-text {
        font-size: 4.5em;
    }

    .page-body,
    .page-header {
        padding-left: 1%;
        padding-right: 1%;
    }

    .media-container {
        width: 100%;
        height: 450px;
        display: none;
    }

    .content {
        font-size: 1em;
    }

    .blog-post-title {
        font-size: 1em;
    }

    .blog-date {
        font-size: .8em;
    }

    .blog-post-description {
        font-size: .8em;
    }
}

@media (min-width: 450) {
    nav > a {
        font-size: 1.5em;
        padding-right: 4%;
    }
    
    .header-text {
        font-size: 4.5em;
    }

    .page-body,
    .page-header {
        padding-left: 7%;
        padding-right: 7%;
    }

    .media-container {
        width: 100%;
        height: 450px;
        display: none;
    }

    .content {
        font-size: 1em;
    }

    .blog-post-title {
        font-size: 1em;
    }

    .blog-date {
        font-size: .9em;
    }

    .blog-post-description {
        font-size: .9em;
    }
}

@media (min-width: 850px) {
    .header-text {
        font-size: 5em;
    }

    nav > a {
        font-size: 1.45em;
        padding-right: 4%;
    }

    .page-body,
    .page-header {
        padding-left: 10%;
        padding-right: 10%;
    }

    .media-container {
        width: 100%;
        height: 450px;
    }

    .content {
        font-size: 1.3em;
    }
}

@media (min-width: 1024px) {
    .header-text {
        font-size: 6em;
    }

    .page-body,
    .page-header {
        padding-left: 15%;
        padding-right: 15%;
    }

    .media-container {
        width: 100%;
        height: 450px;
    }

    .content {
        font-size: 1.3em;
    }

    .blog-post-title {
        font-size: 1.2em;
    }

    .blog-date {
        font-size: 1em;
    }

    .blog-post-description {
        font-size: 1em;
    }
}

@media (min-width: 1250px) {
    .header-text {
        font-size: 7em;
    }

    .page-body,
    .page-header {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media (min-width: 1500px) {
    .page-body,
    .page-header {
        padding-left: 22%;
        padding-right: 22%;
    }
}

@media (min-width: 1680px) {
    .header-text {
        font-size: 7em;
    }

    .page-body,
    .page-header {
        padding-left: 25%;
        padding-right: 25%;
    }
}

@media (min-width: 2100px) {
    .header-text {
        font-size: 8em;
    }

    .page-body,
    .page-header {
        padding-left: 28%;
        padding-right: 28%;
    }

    .content {
        font-size: 1.5em;
    }

    nav > a {
        font-size: 2em;
        padding-right: 4%;
    }
}

@media (min-width: 2500px) {
    .page-body,
    .page-header {
        padding-left: 32%;
        padding-right: 32%;
    }
}

@media (prefers-color-scheme: dark) {
    .landing-card {
        background-color: #f5ebd3;
        color: #102116;
    }

    .landing-card-subtitle {
        color: #192c20;
    }
}

@media (prefers-color-scheme: light) {
    body {
        height: 100%;
        background-color: var(--color-light-bg);
        color: var(--color-light-text);
        padding: 0;
        margin: 0;
    }

    a {
        color: var(--color-light-text);
    }

    .landing-card {
        background-color: var(--color-light-text);
        color: var(--color-light-bg);
    }

    .landing-card-subtitle {
        color: var(--color-light-bg);
    }

    .nav-item {
        border: 2px solid black;
        box-shadow: 10px 4px 0px var(--color-light-text);
        background-color: var(--color-light-bg);
        color: var(--color-light-text);
    }

    .nav-item:hover {
        animation: none;
        color: var(--color-light-bg);
        background-color: var(--color-light-text);
        border: 2px solid var(--color-light-text);
    }

    .no-hover {
        box-shadow: none;
    }

    .no-hover:hover {
        animation: none;
        color: black;
    }

    .blog-date {
        color: var(--color-light-text);
    }

    blockquote {
        color: var(--color-light-text);
    }

    /* Drop cap color for light mode */
    .page-body > p:first-of-type::first-letter {
        color: var(--color-light-text);
    }
}
