img {
    width: 100%
}

html {
    font-family: "Lato", sans-serif;
    height: 100%;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 1.5;
}

body {
    height: 100%;
    background-color: #05240f;
    color: #f5ebd3;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: inherit;
}

a {
    color: #faf3d4;
}

section {
    height: 100%;
}

.content {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.page-header,
.page-footer {
    padding: 20px;
}

.page-footer {
    background-color: #02290a;
    text-align: center;
}

.page-body,
.page-header {
    padding-left: 20%;
    padding-right: 20%;
    max-width: 2000px;
}

.page-body {
    padding-bottom: 5%;
}

nav > a {
    font-size: 25px;
    padding-right: 4%;
}

.heading {
    font-size: 75px;
    text-decoration: none;
}

hr {
    border: 2px solid #f5ebd3;
    border-radius: 15px;
    opacity: .7;
}

.media-container {
    width: 100%;
    display: flex;
    height: 450px;
}

@media (max-width: 1250px) {
    .page-body,
    .page-header {
        padding-left: 2%;
        padding-right: 2%;
    }

    .media-container {
        width: 100%;
        height: 450px;
    }
}

.blog-date {
    color: #d9d5c5;
    font-style: italic;
    text-decoration: none;
}


.latest-posts {
    padding-bottom: 5%;
}

.blog-post-title {
    text-decoration: none;
}

@media (prefers-color-scheme: light) {
    body {
        height: 100%;
        background-color: #f5ebd3;
        color: #05240f;
        padding: 0;
        margin: 0;
    }

    a {
        color: #05240f;
    }

    .page-footer {
        background-color: #e0cfa6;
        text-align: center;
    }

    .blog-date {
        color: #05240f;
    }
}

.description-image-container {
    display: inline;
    max-width: 50%;
}

.description-image {
    display: inline;
}

.description-container {
    display: flex;
}

.description-text {
    padding-right: 15px;
    width: 50%;

}

.nav-bar {
    text-align: center;
}

.blog-post-preview-text {
    display: inline;
    max-width: 50%;
    padding-bottom: 2%;
}

.blog-post-preview-image-container {
    justify-content: right;
    max-width: 150px;
    margin-left: auto;
    margin-right: 0;
}

.blog-post-preview{
    display: flex;
}

.album-art {
    margin: auto;
    width: 65%;
    padding-top: 2%;
    padding-bottom: 2%;
}
