<!doctype html>
<html>

    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
            rel="stylesheet">
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">

        <script data-goatcounter="https://mottled-moth-rocks.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    </head>

<body>
    <header class="page-header">{% include header.html %}</header>
        <section>
            <div class="content">
                <main class="page-body">
                    <h1 class="blog-title">{{ page.title }}</h1>
                    <h5 class="blog-date">{{ page.date | date: "%-d %B %Y"}}</h5>
                    {{ content }}
                </main>
                <footer class="page-footer">{% include footer.html %}</footer>
            </div>
        </section>
    </body>
</html>