<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link 
            href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap"
            rel="stylesheet">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/base.css">
        <link rel="stylesheet" href="/assets/css/layout.css">
        <link rel="stylesheet" href="/assets/css/components.css">
        <link rel="stylesheet" href="/assets/css/animations.css">
        <link rel="stylesheet" href="/assets/css/responsive.css">

        <script data-goatcounter="https://mottled-moth-rocks.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    </head>

    <body>
        <header class="page-header">
            <header class="header">
                <h1 class="goodbye-header">
                    Goodbye!
                </h1>
            
                <section class="section-break">
                    <section class="image-row">
                        <img class="image-row-half" src="/assets/images/trip-2.jpeg"/>
                        <section class="goodbye-text">
                            <p>
                                After five and a half years at ParshipMeet Group, I am moving on to new challenges.
                                I came to this job hoping to get more experience on a complex backend platform and it gave me more than I could’ve hoped
                                for in that regard.
                                Fixing performance bottlenecks, addressing late night pages, and last minute pushes to ship features have been a source
                                of great joy and fulfillment.
                            </p>
                            <p>
                                It's been an honor to work with such talented folks.
                                Streamer Subscriptions, Announcements, Daily Dough, Yapp... none of this would’ve been possible without you.
                                A special thank you to: Simon, Gal, Jamie, Joe, Gold team, Video Backend Chapter, and anyone else I've crossed paths
                                with on a project, in New Hope, at leadership training, etc.
                                You have all helped me grow in my skills and as a person. For that I am thankful.
                            </p>
                            <p>
                                I wish you all the best of luck. Take care of yourselves.
                            </p>
                            
                            <p class="signature">
                                <img src="/assets/images/signature.png" />
                            </p>
                        </section>
                    </section>
                </section>
            
                <section class="section-break">
                    <h2 class="goodbye-contact">Stay in touch</h2>
                    <nav class="nav-bar goodbye-navbar">
                        <a class="nav-item" href="https://www.instagram.com/tmthyhlms/">Instagram</a>
                        <a class="nav-item" href="https://www.linkedin.com/in/timothy-holmes-software-architect">LinkedIn</a>
                        <a href="mailto:timholmez@gmail.com" class="nav-item">Email</a>
                    </nav>
                </section>
            </header>
        </header>
    </body>
</html>
