<!doctype html>
<html>

    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,800;0,900;1,100;1,300;1,400;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">

        <script data-goatcounter="https://mottled-moth-rocks.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    </head>

    <body>
        <header class="page-header">{% include header.html %}</header>
        <section>
            <div class="content">
                <main class="page-body">
                    <!-- <h2>{{ page.title }}</h2> -->
                    <!-- <div class="description-container">
                        <span class="description-text">
                            {{ content }}

                            <h2 class="latest-posts">Latest Posts</h2>

                            <ul class="blog-list">
                                {% for post in site.posts limit:2 %}
                                <section class="blog-post-preview-text">
                                    <h3><a class="blog-post-title" href="{{ post.url }}">{{ post.title }}</a></h3>
                                    <span><a class="blog-date" href="{{ post.url }}">{{ post.date | date: "%B, %-d %Y" }}</a><br></span>
                                    <span><a class="blog-post-title" href="{{ post.url }}">{{ post.description }}</a></span>
                                </section>
                                {% endfor %}
                            </ul>
                        </span>
                        <span class="description-image-container">
                            <img class="description-image" src="{{ page.photo}}" alt="{{ page.photoDescription }}" />
                        </span> -->
                        
                        <div class="description-image" >
                            <img src="{{ page.photo}}" alt="{{ page.photoDescription }}" />
                        </div>
                        <h3 class="landing-description">{{ page.imageDescription }}</h3>
                        <section class="provider-icon-container">
                            <a class="provider-icon" href="https://open.spotify.com/album/6yd3JfzopYrtIFCRxCXqwk?si=mdDbTHSCQv-aqYAdI92nnA"><img src="/assets/images/Spotify_icon.svg" /></a>
                            <a class="provider-icon" href="https://music.apple.com/us/album/sweet-understanding-ep/1786853620"><img src="/assets/images/Apple_Music_icon.svg.png" /></a>
                        </section>
                    </div>
                </main>
                <footer class="page-footer">{% include footer.html %}</footer>
            </div>
        </section>
    </body>
</html>