<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap"
            rel="stylesheet">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/base.css">
        <link rel="stylesheet" href="/assets/css/layout.css">
        <link rel="stylesheet" href="/assets/css/components.css">
        <link rel="stylesheet" href="/assets/css/animations.css">
        <link rel="stylesheet" href="/assets/css/responsive.css">

        <script data-goatcounter="https://mottled-moth-rocks.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    </head>

    <body>
        <header class="page-header">{% include header.html %}</header>
        <section>
            <div class="content">
                <main class="page-body">
                    <div>
                        <p class="tagline">A blog about 
                            <a class="tagline-link" href="/creativity/2025/01/24/guitar-gear.html">playing guitar</a>, 
                            <a class="tagline-link" href="/2025-07-24/decade-of-software.html">programming</a>, 
                            and <a class="tagline-link" href="/system/2024/02/02/the-path.html">finding purpose</a>.</p>

                        <section class="landing-section">
                            <h2 class="landing-section-heading">Latest Post</h2>
                            {% for post in site.posts limit:1 %}
                            <a href="{{ post.url }}">
                                <div class="landing-card">
                                    {{ post.title }}</br>
                                    <span class="landing-card-subtitle">{{ post.description}}</span>
                                </div>
                            </a>
                            {% endfor %}
                        </section>

                        <section class="landing-section">
                            <h2 class="landing-section-heading">Latest Releases</h2>
                            <a href="/2026/02/06/everybody.html">
                                <div class="landing-card">
                                    Everybody</br>
                                    <span class="landing-card-subtitle">Mottled Moth</span>
                                </div>
                            </a>
                            
                            <a href="/creativity/project/2025/07/16/sarcoma.html">
                                <div class="landing-card">
                                    Sarcoma</br>
                                    <span class="landing-card-subtitle">Cosmic Strain</span>
                                </div>
                            </a>
                        </section>

                        <section class="landing-section">
                            <div class="image-row">
                                <img class="image-row-two-thirds" src="/assets/images/about.JPG"
                                    alt="Chilling with the pyramid fountain at Lewis Ginter Botanical Garden" />
                                <img class="image-row-one-third" src="/assets/images/main/cs-double-exposure.jpg"
                                    alt="Cosmic Strain by Josh Gilly" />
                            </div>

                            <div class="caption">
                                Pyramid fountain at <a href="https://www.lewisginter.org">Lewis Ginter Botanical Garden.</a> 
                                +
                                Cosmic Strain by <a href="https://www.instagram.com/joshgilly/">Josh Gilliland</a></div>
                        </section>
                    </div>
                </main>
                <footer class="page-footer">{% include footer.html %}</footer>
            </div>
        </section>
    </body>
</html>